/* CSS stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.padd-top {
  padding-top: 45px;
}

.col-center {
  margin: 0 auto;
}

.removed {
  color: #ccc;
}

.removed label {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.cat-container {
  margin-top: 15px;
  height: 300px;
}

img.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

img.img-responsive.center {
  display: block;
  margin: auto;
}