/* CSS stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}